article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  transition: 0.5s all; }

.zIndex {
  position: relative;
  z-index: 10;
  color: #ff7c81; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  max-width: 1300px;
  background: #7cfffb;
  margin: 0 auto;
  font-family: 'Yesteryear', cursive; }

h1 {
  margin: 0;
  font-size: 6rem;
  animation: fadeIn 5s linear;
  text-align: center; }

.headerStyle {
  background-color: #7cfffb;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.siteHeading {
  text-align: center;
  color: #ff7c81;
  -webkit-text-stroke: 0.3px rgba(0, 0, 0, 0.4); }
  .siteHeading p {
    font-size: 3rem; }

div.treeSVG {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url("../src/assets/images/treeline1.svg");
  background-repeat: repeat; }
  div.treeSVG img {
    display: block; }

.rossContainer {
  position: absolute;
  right: 20px;
  top: 20px; }

.cloud {
  width: 20%;
  color: white; }
  .cloud img {
    width: 100%; }

.cloud1 {
  position: absolute;
  top: 20px;
  left: 50px; }

.cloud2 {
  position: absolute;
  bottom: 20%;
  right: 20px; }

.rossPhoto {
  border-radius: 50%;
  border: 1px solid #7cfffb;
  animation: sunThrob 3s linear infinite; }

@keyframes sunThrob {
  0% {
    -webkit-box-shadow: 0px 0px 85px 0px #ebc012; }
  50% {
    -webkit-box-shadow: 0px 0px 5px 0px #ebc012; }
  100% {
    -webkit-box-shadow: 0px 0px 85px 0px #ebc012; } }

.handwriting {
  width: 40%;
  font-family: 'Yesteryear', cursive; }

.wrapper {
  display: flex;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background: -webkit-gradient(linear, center bottom, center top, color-stop(0%, #ff7c81), color-stop(100%, #b47c80));
  justify-content: space-around;
  flex-direction: column;
  align-items: center; }

.paintDetails {
  width: 75%; }

h3 {
  margin: 0;
  text-align: center;
  padding: 60px 0 30px;
  color: #7cfffb;
  -webkit-text-stroke: 0.3px rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  font-weight: normal; }

.paintDetails__flex {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 20px 0 40px; }

.paintDetailsSelections__flex {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-around; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.paintDetails__detail {
  display: inline-block;
  color: #7cfffb;
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.4);
  padding: 5px 8px;
  margin: 5px 3px;
  font-size: 1.8rem; }
  .paintDetails__detail:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #ffbe7c; }

.paintDetails__SelectedDetail {
  display: inline-block;
  color: #ffbe7c;
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.4);
  padding: 5px 8px;
  margin: 5px 3px;
  font-size: 2.2rem; }
  .paintDetails__SelectedDetail:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #7cfffb; }

.selectedItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.button {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  background: none;
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.4);
  border: none;
  font-size: 3rem;
  color: #7cfffb;
  border-radius: 5px; }
  .button:hover {
    -webkit-text-stroke: #7cfffb;
    color: #ffbe7c;
    transform: scale(1.2); }

.bottomSection {
  height: 100vh;
  background: -webkit-gradient(linear, center bottom, center top, color-stop(0%, #ff917c), color-stop(80%, #ff7c81));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bottomSection h3 {
    padding-top: 40px;
    font-size: 2.4rem;
    color: #7cfffb;
    -webkit-text-stroke: 0.3px rgba(0, 0, 0, 0.4); }
  .bottomSection .endPage {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; }
    .bottomSection .endPage h3 {
      color: #7cfffb; }

.episodeList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto; }

.paintDetails__FinalList {
  display: inline-block;
  color: #d7beff;
  -webkit-text-stroke: 0.3px rgba(0, 0, 0, 0.4);
  margin: 5px 3px;
  font-size: 2rem;
  padding: 25px 0; }

@media (max-width: 730px) {
  .rossContainer {
    display: none; }
  .wrapper h3 {
    padding-top: 150px; } }

@media (max-width: 430px) {
  .wrapper {
    padding-top: calc(100vh + 50px);
    padding-bottom: calc(100vh + 30px); }
  .endPage h3 {
    padding-top: 20px; } }
